# -----------------------------
# Maven / Java
# -----------------------------
target
*.log

# -----------------------------
# IDE
# -----------------------------
.idea
.vscode
*.iml

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Git
# -----------------------------
.git
.gitignore

# -----------------------------
# Env / Secrets
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# Docs / Tests
# -----------------------------
*.md
